<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(95, 48, 77);">
        <a routerLink="/" class="navbar-brand" style="color: white;">Recipe Book</a>
    <div class="collapse navbar-collapse" id="navabrSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/recipes" class="nav-link" style="color: white;">Recipes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/shopping-list" class="nav-link" style="color: white;">Shopping List</a>
            </li>
            <li class="nav dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownForManage" role="button" data-toggle="dropdown" style="color: white; cursor: pointer;">
                    Manage</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownForManage">
                    <a class="dropdown-item" style="cursor: pointer;">Save Data</a>
                    <a class="dropdown-item" style="cursor: pointer;">Fetch Data</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- <li class="nav-item">
    <a routerLink="/recipes" class="nav-link" style="color: white;" routerLinkActive="active">Recipes</a>
</li>
<li class="nav-item">
    <a routerLink="/shopping-list" class="nav-link" style="color: white;" routerLinkActive="active">Shopping List</a>
</li> -->