.spacer {
    flex: 1 1 auto;
}

.toolbarComponent {
    background-color:#cfd8dc;
}

.toolbarbutton {
    background-color: #d7ccc8;
    margin-right: 10px;
}

.card {
    width: 450px;
    height: 400px;
    margin: 0, auto;
    float: none;
}

.div-style {
    display: flex;
    justify-content: center;
}
